---
layout: base.njk
title: "Platinum Slots Casino | Melden Sie sich an und sichern Sie sich bis zu 2.000 € + 200 Freispiele"
canonical: "https://www.platinumslotsgames.com/de/"
meta_description: "Genießen Sie die besten Casinospiele und Sportwetten auf einer sicheren, vertrauenswürdigen und lizenzierten Website mit Platinum Slots Casino. Starten Sie mit einem Willkommensbonus!"
HP_offer_highlight: "Bis zu 2.000 €"
HP_offer_main_1: "Willkommenspaket"
HP_offer_main_2: "+ 200 Freispiele"
HP_button_text: "Erste Schritte"
HP_button_link: "{{settings.redirect_link}}"
faqs:
  - question: "Kann ich im Platinum Slots Casino mit echtem Geld spielen?"
    answer: "Auf jeden Fall. Im Platinum Slots Casino können Sie Echtgeldwetten auf Casinospiele und Sportereignisse platzieren und dabei echte Geldpreise gewinnen."
  - question: "Wie sicher ist das Online-Spielen bei PlatinumSlotsCasino?"
    answer: "Ihr Schutz ist unsere Priorität. PlatinumSlotsCasino operiert unter einer Curaçao eGaming-Lizenz und hält strenge Standards für Fairness und Sicherheit ein. Wir verwenden fortschrittliche SSL-Verschlüsselung zum Schutz Ihrer persönlichen und finanziellen Daten und bieten Ihnen eine Reihe von Tools für verantwortungsvolles Spielen, damit Sie Ihr Spiel in Ihrem Komfortbereich überwachen und steuern können."
  - question: "Kann ich auf meinem Mobilgerät auf PlatinumSlotsCasino zugreifen?"
    answer: " Auf jeden Fall! PlatinumSlotsCasino ist vollständig für Android und iOS optimiert. Egal, ob Sie ein Smartphone oder Tablet verwenden, unsere mobile Plattform bietet Ihnen das gleiche reibungslose und funktionsreiche Erlebnis, das Sie von Ihrem Desktop-PC erwarten."
  - question: "Welche PlatinumSlotsCasino-Spiele eignen sich am besten für Anfänger?"
    answer: "Neue Spieler erfreuen sich oft an beliebten Slots wie Starburst, MegaMoolah und WheelofFortuneMegaways. Sie können auch klassische Tischspiele ausprobieren – Roulette, Poker und Blackjack sind ein guter Einstieg. Um sich mit den Spielen vertraut zu machen, bevor Sie echtes Geld einsetzen, probieren Sie zunächst die kostenlosen Demoversionen dieser Spiele aus."
  - question: "Welche Spielmodi bietet PlatinumSlotsCasino?"
    answer: "Sie können alle unsere Spiele kostenlos im Demomodus testen. Um Echtgeldpreise zu gewinnen, wechseln Sie einfach zum Echtgeldspiel und setzen Sie mit Ihrem eingezahlten Geld."
games:
  - title: "Ramses Book"
    provider: "gamomat"
    img_src: "/assets/games/ramses-book.jpeg"
    img_alt: "Ramses Book game tile"
    game_url: "/de/game/ramses-book"
    demo_available: true
    label: "platin-jackpot"
  - title: "Fruit Million"
    provider: "Bgaming"
    img_src: "/assets/games/fruit-million.jpeg"
    img_alt: "Fruit Million game tile"
    game_url: "/de/game/fruit-million"
    demo_available: true
    label: "platin-jackpot"
  - title: "Book Of RA"
    provider: "Bgaming"
    img_src: "/assets/games/book-of-ra-deluxe.jpeg"
    img_alt: "Book Of Ra game tile"
    game_url: "/de/game/book-of-ra"
    demo_available: true
    label: "platin-jackpot"
  - title: "Gates of Olympus 1000"
    provider: "Pragramticplay"
    img_src: "/assets/games/gates-of-olympus.jpeg"
    img_alt: "Gates Of Olympus 1000 game tile"
    game_url: "/de/game/gates-of-olympus-1000"
    demo_available: true
    label: "platin-jackpot"
  - title: "Book Of The Fallen"
    provider: "Pragramticplay"
    img_src: "/assets/games/book-of-fallen.jpeg"
    img_alt: "Book Of The Fallen game tile"
    game_url: "/de/game/book-of-the-fallen"
    demo_available: true
    label: "platin-jackpot"
  - title: "Sweet Bonanza"
    provider: "Pragramticplay"
    img_src: "/assets/games/sweet-bonanza.jpeg"
    img_alt: "Sweet Bonanza game tile"
    game_url: "/de/game/sweet-bonanza"
    demo_available: true
    label: "platin-jackpot"
  - title: "Lucky Lady Charm Deluxe 6"
    provider: "Pragramticplay"
    img_src: "/assets/games/lucky-lady-charm.jpeg"
    img_alt: "Lucky Lady Charm game tile"
    game_url: "/de/game/lucky-lady-charm-deluxe-6"
    demo_available: true
    label: "platin-jackpot"
  - title: "Gates of Olympus"
    provider: "Pragramticplay"
    img_src: "/assets/games/gates-of-olympus-old.jpeg"
    img_alt: "Gates Of Olympus game tile"
    game_url: "/de/game/gates-of-olympus"
    demo_available: true
    label: "platin-jackpot"
  - title: "La Doce Vita"
    provider: "Gamomat"
    img_src: "/assets/games/la-dolce-vita.jpeg"
    img_alt: "Gates Of Olympus game tile"
    game_url: "/de/game/la-dolce-vita"
    demo_available: true
    label: "platin-jackpot"
  - title: "Sweet Bonanza 1000"
    provider: "Pragramaticplay"
    img_src: "/assets/games/sweet-bonanza-1000.jpeg"
    img_alt: "Gates Of Olympus game tile"
    game_url: "/de/game/sweet-bonanza-1000"
    demo_available: true
    label: "platin-jackpot"
  - title: "Midas Golden Touch 2"
    provider: "Thunderkick"
    img_src: "/assets/games/midas-golden-touch.jpeg"
    img_alt: "Midas Golden Touch 2 game tile"
    game_url: "/de/game/midas-golden-touch"
    demo_available: true
    label: "platin-jackpot"
  - title: "Take"
    provider: "Gamomat"
    img_src: "/assets/games/take.jpeg"
    img_alt: "Take game tile"
    game_url: "/de/game/take"
    demo_available: true
    label: "platin-jackpot"
  - title: "Crystal Ball"
    provider: "Gamomat"
    img_src: "/assets/games/crystal-ball.jpeg"
    img_alt: "Crystal Ball game tile"
    game_url: "/de/game/crystal-ball"
    demo_available: true
    label: "platin-jackpot"
  - title: "Big Bass Splash"
    provider: "Pragramaticplay"
    img_src: "/assets/games/big-bass-splash.jpeg"
    img_alt: "Big Bass Splash game tile"
    game_url: "/de/game/big-bass-splash"
    demo_available: true
    label: "platin-jackpot"
---
           
            <main class="layout-invisible-header__main">
               <div class="welcome-page">
                  <div class="welcome-page__section welcome-page__section--intro wp-intro">
                     <div class="wp-intro__bg-wrapper">
                        <picture>
                          <source srcset="/assets/welcome-page-bg-mobile.webp" media="(max-width: 479px)">
                          <source srcset="/assets/welcome-page-bg-desktop.webp" media="(min-width: 480px) and (max-width: 1199px)">
                          <source srcset="/assets/welcome-page-bg-desktop.webp" media="(min-width: 1200px)">
                           <span></span><img class="wp-intro__bg image" alt="Welcome to {{settings.casino}}" src="" srcset="" imageref="[object Object]">
                        </picture>
                     </div>
                     <div class="welcome-page__container welcome-page__container--intro container">
                        <div class="wp-intro__content">
                           <a class="wp-intro__logo logo link" variant="primary" href="/">
                           <img class="logo__img image" alt="{{settings.casino}}" src="{{settings.logo}}" srcset="" imageref="[object Object]"></a>
                           <h1 class="wp-intro__title">{{HP_offer_highlight}}</h1>
                           <h2 class="wp-intro__text">{{HP_offer_main_1}} <br>{{HP_offer_main_2}}</h2>
                           <div class="wp-intro__actions"><a class="link-btn link-btn--lg link-btn--third wp-intro__action wp-intro__action--pulse" href="{{settings.redirect_link}}">{{HP_button_text}}</a></div>
                           <div class="wp-intro__payments wp-payments"  id="slots">
                              {% for payment in payments.methods %}
                              <div class="wp-payments__item">
                                 <img class="wp-payment__image image" alt="{{ payment.name }}" src="{{ payment.src }}">
                              </div>
                              {% endfor %}
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="welcome-page__section welcome-page__section--favorites">
                    <div class="welcome-page__container container">
                        <div class="home-game-slider">
                            <div class="base-slider base-slider--with-see-more">
                                <div class="base-slider__header">
                                    <h2 class="base-slider__title">Casino-Favoriten</h2>
                                </div>
                                <!--<a class="link-btn link-btn--sm link-btn--outline base-slider__button base-slider__button--see-more" href="/de/games/top-casino-games">Alle sehen</a>-->
                                <div class="base-slider__controls">
                                 <a class="link-btn link-btn--sm link-btn--outline base-slider__button base-slider__button--see-more" href="{{settings.redirect_link}}">Alle sehen</a>
                                    <!--<div class="base-slider__arrows">
                                        <button class="btn btn--md btn--outline base-slider__button base-slider__button--prev" variant="primary">
                                            <i class="font-icons font-icons--angle-left-small"></i>
                                        </button>
                                        <button class="btn btn--md btn--outline base-slider__button base-slider__button--next" variant="primary">
                                            <i class="font-icons font-icons--angle-right-small"></i>
                                        </button>
                                    </div>-->
                                </div>
                                <div class="base-slider__scroll-wrapper">
                                    <div class="base-slider__horiz-scroll" style="grid-template-rows: repeat(2, 1fr);">
                                        {% for game in games %}
                                        <div class="home-game-slider__item">
                                            <div class="game">
                                                <div class="game__block-img">
                                                    <img class="game__img image" alt="{{ game.img_alt }}" src="{{ game.img_src }}">
                                                </div>
                                                <a href="{{ game.game_url }}"><div class="game__action">
                                                    <div class="game__play">
                                                        <button class="btn btn--md btn--third game__button game__button--play" variant="primary" aria-label="Play game">
                                                            <i class="game__icon game__icon--play font-icons font-icons--play"></i>
                                                        </button>
                                                        <div class="game__title">
                                                            <a class="link-no-styles" variant="primary" href="{{ game.game_url }}">{{ game.title }}</a>
                                                        </div>
                                                        <div class="game__provider">{{ game.provider }}</div>
                                                    </div>
                                                    {% if game.demo_available %}
                                                    <div class="game__demo">
                                                      <a href="{{ game.game_url }}"><button class="text-btn text-btn--primary game__button game__button--demo">Demo</button></a>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                                <div class="game__label-list">
                                                    {% if game.label != 'exclusive' %}
                                                        <div class="game__label game__label--{{ game.label }}">
                                                            <img class="image" alt="{{ game.label }}" src="/assets/hp_icons/{{ game.label }}.svg">
                                                        </div>
                                                    {% else %}
                                                        <div class="game__label game__label--exclusive">Exklusiv</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                  </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                  <div class="welcome-page__section welcome-page__section--benefits">
                    <div class="welcome-page__container container">
                       <h3 class="welcome-page__title">{{settings.casino}} vorteile</h3>
                       <div class="wp-benefits">
                          {% for benefit in benefits.items %}
                          <div class="wp-benefits__item wp-benefit">
                             <div class="wp-benefit__icon">
                                {{ benefit.icon }}
                             </div>
                             <div class="wp-benefit__content">
                                <p class="wp-benefit__title">{{ benefit.title }}</p>
                                <p class="wp-benefit__text">{{ benefit.text }}</p>
                             </div>
                          </div>
                          {% endfor %}
                       </div>
                    </div>
                 </div>
                  
                  <!--<div class="welcome-page__section welcome-page__section--promotions" id="promotions" style="padding-top:70px;">
                     <div class="welcome-page__container container">
                       <h3 class="welcome-page__title">Erstklassige Werbeaktionen und Unterstützung</h3>
                       <div class="wp-promotions">
                         <div class="wp-promotions__list">
                           {% for promotion in promotions.items %}
                             <div class="wp-promotions__item wp-promotion">
                               <img class="wp-promotion__bg image" alt="{{ promotion.title }}" src="{{ promotion.image }}">
                               <div class="wp-promotion__content">
                                 <p class="wp-promotion__title">{{ promotion.title }}</p>
                               </div>
                             </div>
                           {% endfor %}
                         </div>-->
                         <div class="wp-promotions__actions">
                           <a style="margin-bottom:20px;" class="link-btn link-btn--lg link-btn--primary" href="{{settings.redirect_link}}">
                             ERHALTEN SIE IHRE BONI
                           </a>
                         </div>
                       </div>
                     </div>
                   </div>                   

                   {% include "de/overview.html" %}
                   
                   <div class="welcome-page__section welcome-page__section--faq">
                     <div class="welcome-page__container welcome-page__container--small container">
                       <h3 class="welcome-page__title">Wichtigste 5 Fragen</h3>
                       <div class="p-faq">
                         {% for faq in faqs %}
                         <div class="collapse-block p-faq__collapse">
                           <div class="collapse-block__toggle">
                             <div class="collapse-block__caret"></div>
                             <div class="collapse-block__title">{{ loop.index }} {{ faq.question }}</div>
                           </div>
                           <div class="collapse" style="transition-duration: 300ms;">
                             <div class="collapse__content-wrapper">
                               <div class="collapse__content">
                                 <div class="collapse-block__content-wrap">
                                   <div class="content">
                                     <p>{{ faq.answer }}</p>
                                   </div>
                                 </div>
                               </div>
                             </div>
                           </div>
                         </div>
                         {% endfor %}
                       </div>
                     </div>
                   </div>
               </div>
            </main>
            