---
layout: base-en.njk
title: "Platinum Slots Casino | Sign up & Claim up to €2,000 + 200 free spins"
canonical: "https://www.platinumslotsgames.com/"
meta_description: "Enjoy the best casino games and sports betting experience on a safe, trusted, licensed site with Platinum Slots Casino. Get started with a welcome bonus!"
HP_offer_highlight: "Up to €2,000"
HP_offer_main_1: "Welcome Package"
HP_offer_main_2: "+ 200 Free Spins"
HP_button_text: "Get Started"
faqs:
  - question: "Can I gamble with real money at Platinum Slots Casino?"
    answer: "Absolutely. Platinum Slots Casino lets you place real-money bets on both casino games and sports events, with the chance to win actual cash prizes."
  - question: "How secure is online play at Platinum Slots Casino?"
    answer: "Your protection is our priority. Platinum Slots Casino operates under a Curaçao eGaming licence, adhering to rigorous standards for fairness and safety. We employ advanced SSL encryption to safeguard your personal and financial information, and we provide a suite of responsible‑gaming tools so you can monitor and manage your play within your comfort zone."
  - question: "Can I access Platinum Slots Casino on my mobile device?"
    answer: " Definitely! Platinum Slots Casino is fully optimized for Android and iOS. Whether you’re on a smartphone or tablet, our mobile platform delivers the same smooth, feature‑rich experience you’d expect on desktop."
  - question: "Which Platinum Slots Casino games are best suited for beginners?"
    answer: "New players often enjoy popular slot titles like Starburst, Mega Moolah and Wheel of Fortune Megaways. You can also explore classic table games—roulette, poker and blackjack are great starting points. To get comfortable before staking real cash, try the free demo versions of these games first."
  - question: "What gaming modes does Platinum Slots Casino offer?"
    answer: "You can sample any of our games in demo mode at no cost. To win real‑money prizes, simply switch to real‑money play and place wagers with your deposited funds."
games:
  - title: "Ramses Book"
    provider: "gamomat"
    img_src: "/assets/games/GAMRamsesBook.webp"
    img_alt: "Ramses Book game tile"
    game_url: "/game/ramses-book"
    demo_available: true
    label: "platin-jackpot"
  - title: "Book of Ra Deluxe Buy Bonus"
    provider: "novomatic"
    img_src: "/assets/games/bookofRaDeluxeBuyBonus.webp"
    img_alt: "Book of Ra Deluxe Buy Bonus game tile"
    game_url: "/game/book-of-ra-deluxe-buy-bonus"
    demo_available: true
    label: "exclusive"
  - title: "Immortal Ways Spooktacular"
    provider: "rubyplay"
    img_src: "/assets/games/ImmortalWaysSpooktacular.webp"
    img_alt: "Immortal Ways Spooktacular game tile"
    game_url: "/game/immortal-ways-spooktacular"
    demo_available: true
    label: "exclusive"
  - title: "Platin Bonanza"
    provider: "bgaming"
    img_src: "/assets/games/platinbonanza.webp"
    img_alt: "Platin Bonanza game tile"
    game_url: "/game/platin-bonanza"
    demo_available: true
    label: "platin-jackpot"
  - title: "Book of Ra deluxe"
    provider: "novomatic"
    img_src: "/assets/games/bookofradeluxe.webp"
    img_alt: "Book of Ra deluxe game tile"
    game_url: "/game/book-of-ra-deluxe"
    demo_available: true
    label: "platin-jackpot"
  - title: "Big Bass Splash"
    provider: "pragmaticplay"
    img_src: "/assets/games/BigBassSplash.webp"
    img_alt: "Big Bass Splash game tile"
    game_url: "/game/big-bass-splash"
    demo_available: true
    label: "drops-and-wins"
  - title: "Midas Golden Touch 2"
    provider: "Thunderkick"
    img_src: "/assets/games/midasgoldentouch.webp"
    img_alt: "Crystal Ball game tile"
    game_url: "/game/midas-golden-touch-2"
    demo_available: true
    label: "platin-jackpot"
  - title: "Gates of Olympus 1000"
    provider: "pragmaticplay"
    img_src: "/assets/games/GatesofOlympus1000.webp"
    img_alt: "Gates of Olympus 1000 game tile"
    game_url: "/game/gates-of-olympus-1000"
    demo_available: true
    label: "drops-and-wins"
  - title: "Lady Wolf Moon"
    provider: "bgaming"
    img_src: "/assets/games/luckyladymoon.webp"
    img_alt: "Lady Wolf Moon game tile"
    game_url: "/game/lady-wolf-moon"
    demo_available: true
    label: ""
  - title: "Book of Tahut"
    provider: "tornadogames"
    img_src: "/assets/games/bookoftahut.webp"
    img_alt: "Book of Tahut game tile"
    game_url: "/game/book-of-tahut"
    demo_available: true
    label: "platin-jackpot"
  - title: "Sweet Bonanza 1000"
    provider: "Pragmatic Play"
    img_src: "/assets/games/sweetbonanza1000.webp"
    img_alt: "Sweet Bonanza 1000 game tile"
    game_url: "/game/sweet-bonanza-1000"
    demo_available: true
    label: ""
  - title: "Book of the Fallen"
    provider: "pragmaticplay"
    img_src: "/assets/games/bookoffallen.webp"
    img_alt: "Book of the Fallen game tile"
    game_url: "/game/book-of-the-fallen"
    demo_available: true
    label: "drops-and-wins"
  - title: "Book of Ra"
    provider: "novomatic"
    img_src: "/assets/games/bookofra.webp"
    img_alt: "Book of Ra game tile"
    game_url: "/game/book-of-ra"
    demo_available: true
    label: "platin-jackpot"
  - title: "Fortune Five Double"
    provider: "gamebeat"
    img_src: "/assets/games/fortunefivedouble.webp"
    img_alt: "Fortune Five Double game tile"
    game_url: "/game/fortune-five-double"
    demo_available: true
    label: "platin-jackpot"
---
           
            <main class="layout-invisible-header__main">
               <div class="welcome-page">
                  <div class="welcome-page__section welcome-page__section--intro wp-intro">
                     <div class="wp-intro__bg-wrapper">
                        <picture>
                           <source srcset="/assets/welcome-page-bg-mobile.webp" media="(max-width: 479px)">
                           <source srcset="/assets/welcome-page-bg-desktop.webp" media="(min-width: 480px) and (max-width: 1199px)">
                           <source srcset="/assets/welcome-page-bg-desktop.webp" media="(min-width: 1200px)">
                           <span></span><img class="wp-intro__bg image" alt="Welcome to {{settings.casino}}" src="" srcset="" imageref="[object Object]">
                        </picture>
                     </div>
                     <div class="welcome-page__container welcome-page__container--intro container">
                        <div class="wp-intro__content">
                           <a class="wp-intro__logo logo link" variant="primary" href="/">
                           <img class="logo__img image" alt="{{settings.casino}}" src="{{settings.logo}}" srcset="" imageref="[object Object]"></a>
                           <h1 class="wp-intro__title">{{HP_offer_highlight}}</h1>
                           <h2 class="wp-intro__text">{{HP_offer_main_1}} <br>{{HP_offer_main_2}}</h2>
                           <div class="wp-intro__actions"><a class="link-btn link-btn--lg link-btn--third wp-intro__action wp-intro__action--pulse" href="{{settings.en_redirect_link}}">{{HP_button_text}}</a></div>
                           <div class="wp-intro__payments wp-payments"  id="slots">
                              {% for payment in enpayments.methods %}
                              <div class="wp-payments__item">
                                 <img class="wp-payment__image image" alt="{{ payment.name }}" src="{{ payment.src }}">
                              </div>
                              {% endfor %}
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="welcome-page__section welcome-page__section--favorites">
                    <div class="welcome-page__container container">
                        <div class="home-game-slider">
                            <div class="base-slider base-slider--with-see-more">
                                <div class="base-slider__header">
                                    <h2 class="base-slider__title">Casino Favorites</h2>
                                </div>
                                <!--<a class="link-btn link-btn--sm link-btn--outline base-slider__button base-slider__button--see-more" href="/de/games/top-casino-games">Alle sehen</a>-->
                                <div class="base-slider__controls">
                                 <a class="link-btn link-btn--sm link-btn--outline base-slider__button base-slider__button--see-more" href="{{settings.en_redirect_link}}">See All</a>
                                    <!--<div class="base-slider__arrows">
                                        <button class="btn btn--md btn--outline base-slider__button base-slider__button--prev" variant="primary">
                                            <i class="font-icons font-icons--angle-left-small"></i>
                                        </button>
                                        <button class="btn btn--md btn--outline base-slider__button base-slider__button--next" variant="primary">
                                            <i class="font-icons font-icons--angle-right-small"></i>
                                        </button>
                                    </div>-->
                                </div>
                                <div class="base-slider__scroll-wrapper">
                                    <div class="base-slider__horiz-scroll" style="grid-template-rows: repeat(2, 1fr);">
                                        {% for game in games %}
                                        <div class="home-game-slider__item">
                                            <div class="game">
                                                <div class="game__block-img">
                                                    <img class="game__img image" alt="{{ game.img_alt }}" src="{{ game.img_src }}">
                                                </div>
                                                <a href="{{ game.game_url }}"><div class="game__action">
                                                    <div class="game__play">
                                                        <button class="btn btn--md btn--third game__button game__button--play" variant="primary" aria-label="Play game">
                                                            <i class="game__icon game__icon--play font-icons font-icons--play"></i>
                                                        </button>
                                                        <div class="game__title">
                                                            <a class="link-no-styles" variant="primary" href="{{ game.game_url }}">{{ game.title }}</a>
                                                        </div>
                                                        <div class="game__provider">{{ game.provider }}</div>
                                                    </div>
                                                    {% if game.demo_available %}
                                                    <div class="game__demo">
                                                      <a href="{{ game.game_url }}"><button class="text-btn text-btn--primary game__button game__button--demo">Demo</button></a>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                                <div class="game__label-list">
                                                    {% if game.label != 'exclusive' %}
                                                        <div class="game__label game__label--{{ game.label }}">
                                                            <img class="image" alt="{{ game.label }}" src="/assets/hp_icons/{{ game.label }}.svg">
                                                        </div>
                                                    {% else %}
                                                        <div class="game__label game__label--exclusive">Exclusive</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                  </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="welcome-page__section welcome-page__section--benefits">
                  <div class="welcome-page__container container">
                     <h3 class="welcome-page__title">Top-Tier Casino Benefits</h3>
                     <div class="wp-benefits">
                        {% for benefit in enbenefits.items %}
                        <div class="wp-benefits__item wp-benefit">
                           <div class="wp-benefit__icon">
                              {{ benefit.icon }} <!-- Inline the SVG here -->
                           </div>
                           <div class="wp-benefit__content">
                              <p class="wp-benefit__title">{{ benefit.title }}</p>
                              <p class="wp-benefit__text">{{ benefit.text }}</p>
                           </div>
                        </div>
                        {% endfor %}
                     </div>
                  </div>
               </div>
               
                  
                  <div class="welcome-page__section welcome-page__section--promotions" id="promotions" style="padding-top:70px;">
                     <div class="welcome-page__container container">
                       <h3 class="welcome-page__title">Top-Tier Promotions and Support</h3>
                       <div class="wp-promotions">
                         <div class="wp-promotions__list">
                           {% for promotion in enpromotions.items %}
                             <div class="wp-promotions__item wp-promotion">
                               <img class="wp-promotion__bg image" alt="{{ promotion.title }}" src="{{ promotion.image }}">
                               <div class="wp-promotion__content">
                                 <p class="wp-promotion__title">{{ promotion.title }}</p>
                               </div>
                             </div>
                           {% endfor %}
                         </div>
                         <div class="wp-promotions__actions">
                           <a style="margin-bottom:20px" class="link-btn link-btn--lg link-btn--primary" href="{{settings.en_redirect_link}}">
                            GET YOUR BONUSES
                           </a>
                         </div>
                       </div>
                     </div>
                   </div>                   

                   {% include "overview.html" %}
                   
                   <div class="welcome-page__section welcome-page__section--faq">
                     <div class="welcome-page__container welcome-page__container--small container">
                       <h3 class="welcome-page__title">Top 5 FAQs</h3>
                       <div class="p-faq">
                         {% for faq in faqs %}
                         <div class="collapse-block p-faq__collapse">
                           <div class="collapse-block__toggle">
                             <div class="collapse-block__caret"></div>
                             <div class="collapse-block__title">{{ loop.index }} {{ faq.question }}</div>
                           </div>
                           <div class="collapse" style="transition-duration: 300ms;">
                             <div class="collapse__content-wrapper">
                               <div class="collapse__content">
                                 <div class="collapse-block__content-wrap">
                                   <div class="content">
                                     <p>{{ faq.answer }}</p>
                                   </div>
                                 </div>
                               </div>
                             </div>
                           </div>
                         </div>
                         {% endfor %}
                       </div>
                     </div>
                   </div>
               </div>
            </main>
            